/*  This is a comment! * /

/* CSS Syntax:
selectors {
   property:  value;
   property:  value;
   property:  value;
   property:  value;
}


* /


/* Type selector    */

p {
font-size: 16px;  /* 16px, ?pt, 1 em */
line-height: 1.5em   ;

}

ficaption {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, "New Times Roman", serif;

}
