@import url('https://fonts.googleapis.com/css?family=Clicker+Script|Elsie+Swash+Caps');

/*  This is a comment! * /

/* CSS Syntax:
selectors {
   property:  value;
   property:  value;
   property:  value;
   property:  value;
}


* /


/* Type selector    */

p {
font-size: 16px;  /* 16px, ?pt, 1 em */
line-height: 1.5em   ;

}

figcaption {
    font-weight: normal;
    font-size: 0.75em;
    line-height: 1.5em;
    font-family: Georgia, "New Times Roman", serif;
    font: normal 0.75em/1.5em 'Elsie Swash Caps', cursive;
    color: #777;
    text-align: right;
}

/* Class selector (applied to as many elements as you like) */

.milk-text { /* select elements with class="milk-text" */

font: bold 2.6em 'Elsie Swash Caps', cursive;
color: white;
text-shadow: 0 2px 3px #000;

}

/* ID selector (apply to one unique) per page */

#logo {

background: aqua;


}

#logo h1 {
/* selects h1 if inside id = logo */
   font-family: 'Clicker Script', cursive;

}

#logo h2 {
font-family: 'Elsie Swash Caps', cursive;

}

/* Pseudo Select */

#details a:link {
  color: black;
  text-decoration: none;

}

#details a:visited {
  color: black;
  text-decoration: none;

}